.about {
  display: flex;
  justify-content: center;
}
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.row {
  display: flex;
  align-items: center;
  gap: 128px;
}
.row:nth-child(1) {
  margin-top: 60px;
}
.row:nth-child(2) {
  gap: 143px;
  margin-top: 233px;
  margin-bottom: 116px;
}
.row:nth-child(2) .img-wrapper::before {
  transform: translate(55px, 70px) rotate(-40deg);
}
/* PHOTO */
.img-wrapper::before {
  position: absolute;
  content: "";
  background-color: #0063dd;
  width: 390px;
  height: 483px;
  border-radius: 40px;
  transform: rotate(-40deg);
  margin-top: -43px;
}
.photo-1 {
  position: relative;
  display: flex;
  max-width: 558px;
  max-height: 373px;
  justify-content: flex-start;
  z-index: 1;
}
.photo-2 {
  display: flex;
  position: relative;
  max-height: 408px;
  max-width: 362px;
  z-index: 1;
}
/* PHOTO */

/* EASY MESSAGING */
.easy-messaging {
  max-width: 476px;
}
.easy-messaging .medium-title {
  margin-top: 0px;
}
/* EASY MESSAGING */

/* READ MORE */
.about-content a {
  font-size: 16px;
  text-decoration: none;
  color: #0063dd;
}
.about-content a:hover {
  opacity: 0.6;
}
/* READ MORE */

/* KEEP IN TOUCH */
.keep-in-touch {
  max-width: 543px;
}
/* KEEP IN TOUCH */

@media screen and (width < 1336px) {
  .photo-1 {
    max-width: 372px;
    max-height: 248px;
  }
  .photo-2 {
    max-height: 272px;
    max-width: 241px;
  }
  .img-wrapper::before {
    border-radius: 25px;
    width: 260px;
    height: 322px;
  }
  .row:nth-child(2) .img-wrapper::before {
    transform: translate(45px, 60px) rotate(-40deg);
  }
  .row:nth-child(2) {
    gap: 136px;
    margin-bottom: 75px;
  }
  .keep-in-touch {
    max-width: 362px;
  }
  .easy-messaging {
    max-width: 317px;
  }
}
@media screen and (width < 980px) {
  .photo-1 {
    max-width: 248px;
    max-height: 165px;
    margin-left: 50px;
    margin-top: -60px;
  }
  .photo-2 {
    max-height: 181px;
    max-width: 161px;
  }
  .img-wrapper::before {
    border-radius: 17px;
    width: 173px;
    height: 215px;
  }
  .row:nth-child(1) .img-wrapper::before {
    transform: translate(70px, -40px) rotate(-40deg);
  }
  .row {
    gap: 78px;
  }
  .row:nth-child(2) .img-wrapper::before {
    transform: translate(20px, 50px) rotate(-40deg);
  }
  .row:nth-child(2) {
    gap: 13px;
  }
  .rows {
    margin-left: 30px;
  }
}
@media screen and (width < 750px){
  .row{
    display: block;
  }
  .photo-1 {
    
    margin-left: 0px;
    margin-top: 0px;
  }
  .photo-2 {
    margin-top: 50px;
  }
  .easy-messaging{
    margin-top: 50px;
  }
  .row:nth-child(1) .img-wrapper::before {
    transform: translate(10px, 10px) rotate(-40deg);
  }
  .row:nth-child(1){
    margin-top: 30px;
  }
  .row:nth-child(2){
    margin-top: 60px;
    margin-bottom: 30px;
  }
}