.features {
  background-color: #f5fcfd;
  height: 635px;
  width: 99%;
  display: flex;
}

/* CARD */
.card {
  text-align: center;
  background-color: #fff;
  width: 362px;
  height: 290px;
  box-shadow: 0px 4px 16px 0px rgba(0, 66, 148, 0.08);
}
.card-icon {
  margin-top: 40px;
}
.card-title {
  font-style: medium;
  font-size: 18px;
  margin-top: 20px;
}
.card-text {
  font-size: 16px;
  margin-bottom: 47px;
}
/* CARD */

.analysis {
  margin-top: 162px;
  margin-left: 402px;
}
.clean-design{
margin-left: 30px;
margin-top: 215px;
}
.messaging{
margin-left: 30px;
margin-top: 162px;
}