.features {
  background-color: #f5fcfd;
  width: 98.5%;
  display: flex;
  justify-content: center;
}

/* CARD */
.features-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features-card {
  margin-top: 165px;
  margin-left: 30px;
  margin-bottom: 180px;
  text-align: center;
  background-color: #fff;
  width: 362px;
  height: 290px;
  box-shadow: 0px 4px 16px 0px rgba(0, 66, 148, 0.08);
}
.features-card-icon {
  margin-top: 40px;
}
.features-card-title {
  font-style: medium;
  font-size: 18px;
  margin-top: 20px;
}
.features-card:not(:first-child) {
  margin-left: 30px;
}
.features-card:nth-child(2) {
  margin-top: 215px;
  margin-bottom: 130px;
}
/* CARD */
@media screen and (max-width: 1211px) {
  .features-card {
    margin-left: 10px;
  }
  .features-card:not(:first-child) {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1145px) {
  .features-cards {
    display: block;
  }
  .features-card {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .features-card:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .features-card:nth-child(1) {
    margin-top: 165px;
  }
  .features-card:nth-child(3) {
    margin-bottom: 180px;
  }
}
