.features {
  background-color: #f5fcfd;
  max-height: 900px;
  width: 98.5%;
  display: flex;
  justify-content: center;
}

/* CARD */
.features-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features-card {
  text-align: center;
  background-color: #fff;
  width: 362px;
  height: 290px;
  box-shadow: 0px 4px 16px 0px rgba(0, 66, 148, 0.08);
}
.features-card-icon {
  margin-top: 40px;
}
.features-card-title {
  font-style: medium;
  font-size: 18px;
  margin-top: 20px;
}
.features-card:not(:first-child) {
  margin-left: 30px;
}
.features-card:nth-child(2) {
  margin-top: 50px;
}
/* CARD */
@media screen and (max-width: 1196px) {
  .features-card:not(:first-child) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1135px) {
  .features-cards {
    display: block;
  }
  .features-card:nth-child(2) {
    margin-top: 0px;
  }
}
