.footer {
  width: 100%;
  background-color: #0063dd;
  display: flex;
  max-height: 125px;
  align-items: center;
  color: #fff;
  justify-content: space-around;
  font-size: 16px;
}
.footer-nav {
  align-items: center;
  display: flex;
}
.footer-menu {
  padding: 0;
  align-items: center;
  display: flex;
  gap: 20px;
}
.footer-menu a:hover {
  color: #000000;
}
.social-networks {
  display: flex;
  gap: 15px;
  margin-left: 75px;
  margin-top: 50px;
  margin-bottom: 44px;
  margin-right: 159px;
  padding: 0;
}
a svg:hover #FaceBook {
  fill: #0f7bff;
}
a svg:hover #Twitter {
  fill: #00acee;
}
a svg:hover #YouTube {
  fill: #c4302b;
}
.button-scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 35px;
}
.button-scroll-up-arrow {
  height: 43px;
  width: 0px;
  background-color: #0063dd;
  border: 2px solid #0063dd;
}
.button-scroll-up-arrow div:nth-child(1) {
  height: 15px;
  width: 0px;
  border: inherit;
  background-color: inherit;
  border-radius: 3px;
  margin-left: 2px;
  margin-top: -6px;
  transform: rotate(-30deg);
}
.button-scroll-up-arrow div:nth-child(2) {
  height: 15px;
  width: 0px;
  border: inherit;
  background-color: inherit;
  border-radius: 3px;
  margin-left: -6px;
  margin-top: -19px;
  transform: rotate(30deg);
}
.button-scroll-up:hover {
  background-color: #0f7bff;
}
.button-scroll-up:hover .button-scroll-up-arrow {
  background-color: #fff;
  border-color: #fff;
}
@media screen and (max-width: 1420px) {
  .social-networks {
    margin-left: 25px;
    margin-right: 25px;
  }
  .button-scroll-up {
    margin-right: 60px;
  }
}
@media screen and (max-width: 1035px) {
  .button-scroll-up {
    margin-right: 0px;
  }
  .footer-menu li {
    max-width: 70px;
  }
}
@media screen and (max-width: 975px) {
  .campaign {
    max-width: 150px;
  }
}
