.header {
  background: url(/img/header/background/header_background.svg);
  background-repeat: no-repeat;
  max-height: 1129px;
  width: 100%;
  text-align: center;
}
/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  display: flex;
  gap: 53px;
}
.menu a {
  text-decoration: none;
  color: #929292;
}
.menu a:hover {
  opacity: 0.7;
}
.nav .active {
  color: #0f7cff;
}
/* NAV BAR */

/* HEADER TEXT */
.header-text {
  font-size: 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 88px;
}
.header-text-title {
  flex-basis: 100%;
}
.header-text-description {
  font-size: 16px;
  color: #929292;
  max-width: 655px;
}
/* HEADER TEXT */

/* BUTTONS */
.buttons {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.button-sign-up {
  background: url('../img/header/buttons/button_sign_up.svg');
  width: 165px;
  height: 50px;
}
.button-sign-up:hover {
  background: url(/img/header/buttons/button_sign_up_2.svg);
}
.button-download {
  width: 166px;
  height: 50px;
  background: url(/img/header/buttons/button_download.svg);
}
.button-download:hover {
  background: url(/img/header/buttons/button_download_2.svg);
}
.button-free-trial{
  width: 166px;
  height: 50px;
  background: url(/img/header/buttons/button_free_trial.svg);
}
.button-free-trial:hover {
    background: url(/img/header/buttons/button_free_trial_2.svg);
}
/* BUTTONS */

/* DEVICES */
.devices {
  display: flex;
  justify-content: center;
  margin-top: 146px;
}
/* DEVICES */

/* scroll DOWN */
.button-scroll-down {
  position: absolute;
  margin-top: 360px;
}
.button-scroll-down:hover {
  opacity: 0.7;
}
/* scroll DOWN */
@media screen and (max-width: 850px) {
  .menu {
    gap: 15px;
  }
}
@media screen and (max-width: 674px) {
  .nav {
    flex-wrap: wrap;
  }
  .menu {
    margin-top: 20px;
    order: 1;
    /* margin-bottom: 20px; */
  }
}
