.header {
  background: url(/img/header/background/header_background.svg);
  /* background-repeat: no-repeat; */
  max-height: 1029px;
  width: 100%;
  text-align: center;
}
/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-around;
}
.menu {
  display: flex;
  align-items: center;
  gap: 53px;
}
.menu a {
  text-decoration: none;
  color: #929292;
}
.menu a:hover {
  opacity: 0.7;
}
.nav .active {
  color: #0f7cff;
}
/* NAV BAR */

/* HEADER TEXT */
.header-text {
  font-size: 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 88px;
}
.header-text-title {
  flex-basis: 100%;
}
.header-text-description {
  font-size: 16px;
  color: #929292;
  max-width: 655px;
}
/* HEADER TEXT */

/* BUTTONS */
.buttons {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.button-download:hover {
  opacity: 0.7;
}
.button-free-trial:hover {
  opacity: 0.5;
}
/* BUTTONS */

/* DEVICES */
.devices {
  display: flex;
  justify-content: center;
  margin-top: 146px;
}
/* DEVICES */

/* scroll DOWN */
.button-scroll-down {
  position: absolute;
  margin-top: 360px;
}
.button-scroll-down:hover {
  opacity: 0.7;
}
/* scroll DOWN */
