.job-description {
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #f5fcfd;
}
.job-description-content {
  margin-top: 119px;
  margin-bottom: 137px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.job-description-title {
  flex-basis: 100%;
  font-size: 32px;
}
.job-description-text {
  max-width: 737px;
  font-size: 16px;
  padding-bottom: 70px;
  border-bottom: 1px dashed #0f7bff;
  border-bottom-width: 2px;
}
/* CARD */
.cards-job {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  margin-top: -65px;
}
.card-job-description {
  max-width: 333px;
  max-height: 221px;
}
.card-job-description:nth-child(2) {
  padding-left: 58px;
  padding-right: 58px;
}
.card-job-description-title {
  font-size: 18px;
  font-style: medium;
}
.card-job-description-text {
  font-size: 16px;
  font-style: light;
}

/* CARD */
@media screen and (max-width: 975px) {
  .job-description-text {
    max-width: 600px;
  }
}
@media screen and (max-width: 830px) {
  .job-description-text {
    border-bottom: none;
  }
  .cards-job {
    flex-wrap: wrap;
  }
}
