.news {
  max-width: 1197px;
  max-height: 1100px;
  margin-top: 130px;
  margin-left: 387px;
  margin-bottom: 106px;
  display: flex;
  flex-wrap: wrap;
}
.news-text {
  font-size: 16px;
  font-weight: light;
}
.news a {
  font-size: 16px;
  text-decoration: none;
  color: #0063dd;
}
.news a:hover {
  opacity: 0.6;
}
/* HEADLINE */
.news-headline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.news-subheading {
  max-width: 722px;
  font-size: 16px;
  font-weight: light;
  text-align: center;
}
.news-headline .bold-title {
  text-align: center;
  width: 100%;
  margin-top: 0;
}
/* HEADLINE */

/* MAIN NEWS */
.main-news {
  margin-top: 40px;
  max-width: 558px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-news-title {
  font-size: 24px;
  font-weight: medium;
  color: #0063dd;
}
/* MAIN NEWS */

/* OTHER NEWS */
.other-news {
  max-width: 609px;
  max-height: 134px;
  display: flex;
}
.other-news:not(:first-child) {
  margin-top: 26px;
}
#other-news {
  margin-top: 40px;
  margin-left: 30px;
}
.other-news-img {
  max-width: 166px;
  max-height: 130px;
}
.other-news-text {
  margin-left: 30px;
}
.other-news-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.other-news-subtitle {
  margin-top: 25px;
}
/* OTHER NEWS */

@media screen and (max-width: 1600px) {
  .news {
    margin-left: 150px;
  }
}
@media screen and (max-width: 1370px) {
  .news {
    max-height: none;
    margin-left: 200px;
    max-width: 800px;
    justify-content: center;
  }
  .news-headline {
    max-width: 560px;
  }
  #other-news {
    margin-left: 0;
  }
  #continue-read {
    margin-top: 20px;
  }
  .main-news-img {
    max-height: 264px;
  }
  .other-news-img {
    max-height: 118px;
  }
}
@media screen and (max-width: 1030px) {
  .news {
    margin-left: 100px;
  }
  .main-news-img {
    max-height: 240px;
  }
  .other-news-img {
    max-height: 107px;
  }
}
@media screen and (max-width: 920px) {
  .news {
    justify-content: flex-start;
    margin-left: 25px;
  }
  .main-news-img {
    max-height: 216px;
  }
  .other-news-img {
    max-height: 96px;
  }
}
