.news {
  max-width: 1197px;
  max-height: 729px;
  width: 100%;
  margin-top: 130px;
  margin-left: 387px;
  display: flex;
  flex-wrap: wrap;
}
.news-text {
  font-size: 16px;
  font-style: light;
}
.news a{
    font-size: 16px;
  text-decoration: none;
  color: #0063dd;
}
.news a:hover{
    opacity: 0.6;
}
/* HEADLINE */
.news-headline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.news-subheading {
  max-width: 722px;
  font-size: 16px;
  font-style: light;
}
/* HEADLINE */

/* MAIN NEWS */
.main-news {
  max-width: 558px;
}
.main-news-title {
  font-size: 24px;
  font-style: medium;
  color: #0063dd;
}
.main-news-img {
  margin-left: -20px;
}
/* MAIN NEWS */

/* OTHER NEWS */
.other-news {
  max-width: 609px;
  max-height: 134px;
  display: flex;
}
.other-news-img {
  max-width: 166px;
  max-height: 130px;
}
.other-news-title {
  font-size: 18px;
  font-style: medium;
  margin-top: 10px;
}
/* OTHER NEWS */
