.pricing-plan {
  display: flex;
  margin: 130px 0px;
  justify-content: center;
}
.pricing-plan-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 161px;
  max-width: 332px;
  max-height: 256px;
}
.pricing-plan-text {
  margin-top: 10px;
}
/* BUTTONS */
.buttons-pricing-plan {
  margin-top: 40px;
  display: flex;
}
.button-mounth:hover {
  opacity: 0.6;
}
.button-year:hover {
  opacity: 0.6;
}
.button-plan-card {
  margin-bottom: 46px;
}
/* BUTTONS */

/* CARD PLAN */
.plan-cards {
  display: flex;
}
.plan-card {
  max-width: 362px;
  height: 576px;
  width: 100%;
  box-shadow: 0px 4px 20px 0px rgba(0, 36, 80, 0.08);
}
.premium-plan {
  margin-left: 60px;
}
.standart-plan {
  margin-left: 30px;
}
.plan-icon {
  margin-left: 124px;
  margin-top: 39px;
}
.plan-title {
  margin-left: 29px;
  margin-top: 20px;
  font-size: 18px;
  font-style: bold;
  border-bottom: 1px solid #e9f3f8;
  padding-bottom: 25px;
  width: 303px;
}
.plan-card-text {
  text-align: center;
  font-style: light;
}
.currency {
  font-style: medium;
  font-size: 18px;
  color: #0f7bff;
}
.price {
  font-style: medium;
  font-size: 32px;
  color: #0f7bff;
}

/* CARD PLAN */

@media screen and (max-width: 1190px) {
  .pricing-plan {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1118px) {
  .plan-card {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .premium-plan {
    margin-left: 10px;
  }
  .standart-plan {
    margin-left: 10px;
  }
}
