.pricing-plan {
  display: flex;
  margin-bottom: 129px;
  justify-content: center;
}
.pricing-plan-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 291px;
  max-width: 332px;
  max-height: 290px;
}
.pricing-plan-text {
  margin-top: 30px;
}
.pricing-plan-info .medium-title{
  margin: 0px;
}
/* BUTTONS */
.button-pricing-plan {
  margin-top: 40px;
  display: flex;
}
.button-month {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #fff;
  color: #0f7bff;
  width: 169px;
  height: 50px;
}
.button-year {
  margin-left: -3px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #fff;
  color: #0f7bff;
  width: 166px;
  height: 50px;
}
.active-button-pricing-plan {
  background-color: #0f7bff;
  color: #fff;
}
.button-plan-card {
  border-radius: 50px;
  margin-left: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 50px;
}
.standart-plan .button-plan-card {
  background-color: #fff;
  color: #0f7bff;
}
.premium-plan .button-plan-card {
  background-color: #0f7bff;
  color: #fff;
}
.standart-plan .button-plan-card:hover {
  background-color: #0f7bff;
  color: #fff;
}
.premium-plan .button-plan-card:hover {
  background-color: #fff;
  color: #0f7bff;
}
/* BUTTONS */

/* CARD PLAN */
.plan-cards {
  display: flex;
}
.plan-card {
  margin-top: 130px;
  max-width: 362px;
  height: 576px;
  width: 100%;
  box-shadow: 0px 4px 20px 0px rgba(0, 36, 80, 0.08);
}
.premium-plan {
  margin-left: 60px;
}
.standart-plan {
  margin-left: 30px;
}
.plan-icon {
  margin-left: 124px;
  margin-top: 39px;
}
.plan-title {
  margin-left: 29px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e9f3f8;
  padding-bottom: 25px;
  width: 303px;
}
.plan-card-text {
  text-align: center;
  font-weight: lighter;
}
.currency {
  font-style: medium;
  font-size: 18px;
  color: #0f7bff;
}
.price {
  font-style: medium;
  font-size: 32px;
  color: #0f7bff;
}

/* CARD PLAN */

@media screen and (max-width: 1190px) {
  .pricing-plan {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1118px) {
  .plan-card {
    margin-top: 80px;
  }
}
@media screen and (max-width: 800px) {
  .premium-plan {
    margin-left: 10px;
  }
  .standart-plan {
    margin-left: 10px;
  }
}
@media screen and (max-width: 720px) {
  .plan-cards {
    justify-content: center;
    flex-wrap: wrap;
  }
}
