.subscribe {
  width: 100%;
  background-color: #0f7bff;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.subscribe-title {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  margin-top: 118px;
}
.subscribe-content {
  margin-bottom: 119px;
}
.subscribe-input-email {
  display: flex;
  justify-content: center;
  text-align: center;
}
.input-email {
  padding-left: 28px;
  height: 50px;
  width: 392px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: #0063dd;
}
.input-email::-webkit-input-placeholder {
  color: #fff;
}
.input-email::-moz-placeholder {
  color: #fff;
}
.input-email:focus {
  outline: none;
}
.button-subscribe {
  margin-left: auto;
  color: #0063dd;
  border: 2px solid #fff;
  background-color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 52px;
  width: 166px;
}
.button-subscribe:hover {
  border: 2px solid #0063dd;
  background-color: #0063dd;
  color: #fff;
}
@media screen and (max-width: 920px) {
  .input-email {
    width: 300px;
  }
}
