.try-free {
  background-color: #f5fcfd;
  max-height: 335px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.try-free-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 154px;
  margin-top: 133px;
  margin-bottom: 113px;
}
.try-free-description {
  max-height: 89px;
}
.try-free-title {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
}
.try-free-text {
  margin-top: 25px;
  font-size: 16px;
  font-weight: light;
}
.try-free-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #0f7bff;
  color: #fff;
  width: 264px;
  height: 50px;
}
.try-free-arrow {
  margin-left: 13px;
  border: 1px solid #fff;
  background-color: #fff;
  width: 30px;
}
.try-free-arrow:nth-child(2) {
  margin-left: -9px;
  margin-top: -6px;
  border: 1px solid inherit;
  width: 10px;
  border-radius: 10px;
  transform: rotate(30deg);
}
.try-free-arrow:nth-child(3) {
  margin-left: -12px;
  margin-top: 6px;
  border: 1px solid inherit;
  width: 10px;
  border-radius: 10px;
  transform: rotate(-30deg);
}
.try-free-button:hover {
  color: #0f7bff;
  background-color: #fff;
}
.try-free-button:hover .try-free-arrow {
  border: 1px solid #0f7bff;
  background-color: #0f7bff;
}
@media screen and (max-width: 800px) {
  .try-free-content {
    gap: 50px;
  }
}
